@charset "UTF-8";

:root {
    --black: #202020;
    --dark-gray: #333533;
    --gray: #D6D6D6;
    --dark-yellow: #d6bc4a;
    --yellow: #FFE681;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: var(--black);
}

body {
    background-color: var(--dark-gray)
}

main {
    background-color: var(--gray);
    border-radius: 20px;
    display: block;
    margin: 70px auto;
    width: 50vw;
}

#formulario {
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    padding: 5px;
}

#formulario > p {
    font-size: .8em;
    padding: 5px 0px;
    text-align: justify;

}

#imagem {
    background: url(../images/imagem.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 200px;
}

#email {
    background: var(--yellow);
    background: linear-gradient(140deg, var(--yellow) 63%, var(--dark-yellow) 100%);
    background: linear-gradient();
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 42vw;
}

#senha {
    background: var(--yellow);
    background: linear-gradient(140deg, var(--yellow) 63%, var(--dark-yellow) 100%);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 42vw;
}

#botoes {
    margin-top: 10px;
}

#botoes > input {
    background-color: var(--dark-yellow);
    border: none;
    border-radius: 10px;
    display: block;
    font-size: .9em;
    font-weight: bold;
    padding: 10px;
    width: 46vw;
}

#botoes > a {
    background-color: var(--gray);
    border: 2px solid var(--dark-yellow);
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-size: .9em;
    font-weight: bold;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 46vw;
}


